:root {
    --sidebar-bgcolor: #313642;
    --sidebar-textcolor: #222;
    --header-bgcolor: #404e67;
    --header-admincolor: #5e687f;
    --card-color1: #20a8d8;
    --card-color2: #63c2de;
    --card-color3: #ffc107;
    --card-color4: #f86c6b;
}


/*SideBar */

body {
    background: #f6f7fb;
    overflow-x: hidden;
}

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--sidebar-bgcolor);
    overflow: hidden;
    box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.15);
    overflow-x: hidden;
    transition-duration: 0.5s;
}

.sidebar ul {
    margin-top: 1rem;
    list-style-type: none;
}

.sidebar ul li {
    font-size: 16px;
}

.sidebar a {
    margin-top: 8px;
    color: #d9dbe0;
    font-weight: normal;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #5e687f;
    font-weight: normal;
    border-radius: 20px;
    transition-duration: 0.2s;
    color: #d2d5e2;
}

.sidebar .row {
    margin-right: 0;
}

.fa-chevron-right {
    color: #a5a8b6;
}

.image {
    background-image: url("img/user1.png");
    background-position: center;
    background-repeat: repeat;
    height: 40px;
    border-radius: 100%;
    background-size: cover;
    width: 40px;
}

header {
    /*
    border-bottom: 1px solid #ececec;
    */
    height: 50px;
}

#navigation i {
    font-size: 30px;
}

#nav_open {
    display: none;
}

.admin {
    background-color: var(--header-admincolor);
    color: #ffffff;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.notification a {
    color: black;
    text-decoration: none;
}

.notification i {
    font-size: 20px;
}


/* Body Content
*/

#wrapper {
    padding-left: 250px;
    transition: all ease-in 0.3s;
}

.page-body {
    transition-duration: 0.3s;
    height: 150vh;
    
}
.card, .card-header{
    border: none;
}

.statistics .card{
    height: 134px;
}
.statistics .card-body
{
    padding: 0.20rem 1rem;
}
.statistics .card-footer{
    padding: 0.25rem 1rem;
    font-size: 12px;

 
}
/*
.views{
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important;

}
.earnings{
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) !important;
}

.tasks{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;

}
.downloads{
    background-color: var(--card-color4);
}
*/
.recents ul {
    list-style-type: none;
    padding: 10px;
}
.recents .card{
    height:407px;
}
.recents .card-body{
    padding: 5px 5px !important;
}
.recents .display{   
        background-position: center;
        background-repeat: repeat;
        height: 40px;
        border-radius: 100%;
        background-size: cover;
        width: 40px;
}
.feed-item1
{
    background-image: url(img/image.jpg);
}
.feed-item2
{
    background-image: url(img/image1.jpg);
}
.feed-item3
{
    background-image: url(img/image2.jpg);
}

.recents .card-body{
    padding: 10px;
}
.updates .card-body{
    padding: 10px;
}
.table td,
.table th {
    border-top: none;
}

.icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    color: #fff;
    
}

.profile-image {
    background-image: url("img/building.jpg");
    background-position: center;
    background-repeat: repeat;
    height: 80px;
    background-size: cover;
}


/* List-item */

.sidebar .list-group-item {
    padding: 5px 5px !important;
}

.list-group-item {
    background-color: transparent;
    border: none;
    padding: 0.2em 1em;
}

header .list-group-horizontal .list-group-item:first-child {
    border-radius: 100%;
}